/*CSS CONTAINER*/
.myContainer {
    margin-top: 100px;
    min-height: 400px;
}

.myContainer .row {
    text-align: center;
}

/*CSS CARD BOOK*/
.card {
    height: 400px;
    width: 12rem;
    margin: 10px;
}

.card-img {
    max-height: 400px;
}

.card-title {
    font-size: medium;
}
