/*CSS CONTAINER*/
.myContainer {
    margin: 20px;
    min-height: 400px;
}

.myContainer .row {
    text-align: center;
}

/*CSS CARD BOOK*/
.card {
    min-height: 500px;
    width: 18rem;
    margin: 10px;
}

.card-img {
    max-height: 400px;
}
